access_key               = ""
secret_key               = ""
public_key_path          = "~/.ssh/id_rsa.pub"

# Database Variables, current password is as provided on the extracted repo
database_password = "changeme"

# ALB allowed CIDR blocks
allowed_alb_cidr_blocks = ["0.0.0.0/0"]

# EC2 allowed CIDR blocks for SSH access
# I've used configured this for troubleshooting
# allowed_ec2_ssh_cidr_blocks = ["0.0.0.0/0"]
